connectors.timescale.my_timescale {
  server = "timescaledb:5432"
  disable_prepared_statements = false
  database = "iot_data"
  pool_size = 8
  username = "admin"
  password = "public"
  ssl = {
    enable = false
  }
}
actions.timescale.my_timescale_action {
  parameters = {
      sql = "INSERT INTO energy_log (factory_id, factory, air_compressor_1, air_compressor_2, lighting, cooling_equipment, heating_equipment, conveyor, coating_equipment, inspection_equipment, welding_equipment, packaging_equipment, cutting_equipment, timestamp) \nVALUES (${payload.factory_id}, ${payload.factory}, ${payload.values.air_compressor_1}, ${payload.values.air_compressor_2}, ${payload.values.lighting}, ${payload.values.cooling_equipment}, ${payload.values.heating_equipment}, ${payload.values.conveyor}, ${payload.values.coating_equipment}, ${payload.values.inspection_equipment}, ${payload.values.welding_equipment}, ${payload.values.packaging_equipment}, ${payload.values.cutting_equipment}, to_timestamp(${payload.timestamp} / 1000.0));\n"
  }
  connector = "my_timescale"
}
rule_engine {
  ignore_sys_message = true
  jq_function_default_timeout = "10s"
  rules {
    "data-to-timescaledb" {
      sql = """ SELECT * FROM "mqttx/simulate/#" """
      actions = ["timescale:my_timescale_action"]
    }
  }
}
